<a href="https://colab.research.google.com/github/rytkizx/repo-to-learn/blob/main/SDAB-75_yash%20akbar%20raihan%20ICT%2012.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
print('Meglia Retail\nbandung, 47206,\n  Jawa Barat, Indonesia')
print('\n')
data= [['Madonna', 20000],
        ['Easter', 25000],
        ['Orange', 21000],
        ['Combo-1', '40500.0'],
        ['Combo-2', 36900],
        ['Combo-3', 41400],
        ['Gift', 49500]]
df= pd.DataFrame(data, columns=['Product','Price(per pack)'])
print(df)

Meglia Retail
bandung, 47206,
  Jawa Barat, Indonesia


   Product Price(per pack)
0  Madonna           20000
1   Easter           25000
2   Orange           21000
3  Combo-1         40500.0
4  Combo-2           36900
5  Combo-3           41400
6     Gift           49500

In [37]:
for i in range(0,6):
  for b in range(i+1):
    print('*', end='')
  print()
for i in range(6,0,-1):
  for b in range(i+1):
    print('*', end='')
  print()
print('*')

*
**
***
****
*****
******
*******
******
*****
****
***
**
*

In [16]:
id=['madona','perusahaan',1980]
id.append(32)
print(id)

['madona', 'perusahaan', 1980, 32]

In [23]:
#mencoba tupel
s=('aku','adalah')
id.append(s) #mecoba memasukkan data ke dalam list
print(id)

['madona', 'perusahaan', 1980, 32, ('aku', 'adalah')]

In [28]:
#mencoba dictioanry
import pandas as pd
xy={'madona':2000,
    'surya':3000,
    'rokok':21.0}
print(xy)

{'madona': 2000, 'surya': 3000, 'rokok': 21.0}